nav {
  display: flex;
  gap: 20px;
  padding: 10px;

  a {
    text-decoration: none;
    color: blue;

    &.active {
      font-weight: bold;
      text-decoration: underline;
      color: darkblue;
    }
  }
}
