:host{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
  "aside header"
  "aside main";
  grid-template-columns: var(--size-280) 1fr;
  grid-template-rows: var(--size-64) 1fr;
  transition: all var(--transition-default);
  &.collapsed{ grid-template-columns: var(--size-80) 1fr; }

  @media (max-width: 768px) {
    grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
    grid-template-columns: 1fr;
  }

  .header {
    grid-area: header;
    height: var(--size-64);
    border-bottom: var(--size-1) solid #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .header-toolbar{
    display: flex;
    gap: var(--gap-xs);
  }

  .aside {
    grid-area: aside;
    border-right: var(--size-1) solid #151515;
  }

  .main {
    grid-area: main;

  }
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    transition: all var(--transition-default);
    overflow: hidden;

    a {
      text-decoration: none;
      color: blue;

      &.active {
        font-weight: bold;
        text-decoration: underline;
        color: darkblue;
      }
    }
  }
}



.aside {
  width: var(--aside-width, 250px);
  background-color: #f8f9fa;
  padding: 1rem;
  transition: all var(--transition-default);
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all var(--transition-default);
    li {
      margin: 0.5rem 0;
      position: relative;
      transition: all var(--transition-default);
      &.open > ul {
        max-height: 1000px; /* Достаточно большое значение для вложенных пунктов */
        opacity: 1;
        transform: translateY(0);
        transition: all var(--transition-default);
      }

      > ul {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all var(--transition-default);
      }

      .menu-item {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all var(--transition-default);
        &:hover {
          background-color: #e2e6ea;
        }
      }
    }
  }
}
